/* Hide number input spinners (Chrome, Edge, Safari) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide number input spinners (Firefox) */
input[type=number] {
    -moz-appearance: textfield;
}